html,
body {
	margin: 0;
}

body {
	background-color: #1c1c1c;
	color: lightgray;
}

pre,
span {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 1.2rem;
}

#container {
	position: relative;

	min-height: calc(100vh - 2em);

	margin: 1em;
}

#terminal {
	margin: 0;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

#cursor {
	position: absolute;

	background-color: lightgray;

	animation: blink 1.5s step-start 0s infinite;
}
