python-dotenv==1.0.1
click==8.1.7
PyYAML==6.0.1
audiolm-pytorch==1.1.4
sentencepiece==0.2.0
fairseq==0.12.2
huggingface-hub==0.25.0
transformers==4.43.4
ctranslate2==4.5.0
sacremoses==0.1.1
encodec==0.1.1
wtpsplit==2.0.8
scipy==1.14.1
optimum==1.22.0
pydub==0.25.1
# socketio
python-socketio==5.11.4
eventlet==0.36.1