html,
body {
	margin: 0;
}

body {
	background-color: white;
	color: black;
}

#container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

#frame {
	width: 100vw;
	flex-grow: 1;
}

#cursor {
	position: absolute;
	width: 24px;
	height: 24px;

	background-repeat: no-repeat;
	background-position: center;

	display: none;
}

#cursor.default {
	display: block;
	background-image: url('/cursors/default.png');
}
#cursor.pointer {
	display: block;
	background-image: url('/cursors/pointer.png');
}

/* Address bar */
#browser-ui {
	width: calc(100% - 2em);
	background: #e9e9e9;
	border-bottom: 1px solid #cccccc;
	padding: 0.5rem 1rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
	display: flex;
	align-items: center;
	gap: 5vw;
}

#browser-ui svg path,
#browser-ui svg rect,
#browser-ui svg line {
	stroke: #666;
	stroke-width: 1.5px;
}

.browser-navigation {
	display: flex;
	gap: 1rem;
	margin-right: 15px;
}

.nav-button {
	background: none;
	border: none;
	font-size: 16px;
	color: #666;
	cursor: pointer;
}

.address-bar {
	flex-grow: 1;
	background: white;

	border-radius: 4px;
	padding: 0.5em;
	display: flex;
	align-items: center;
	gap: 1em;

	font-size: 0.9rem;
}

#url {
	flex-grow: 1;
}

#protocol,
#path {
	color: #666;
}

.address-bar-icon {
	display: flex;
	align-items: center;
}

.browser-menu {
	display: flex;
	align-items: center;
}
